body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center;    /* Vertical */
    background: linear-gradient(135deg, #74ebd5, #b9c3f1); /* Fondo degradado */
    font-family: 'Nunito', sans-serif;
}


.main-container {
    background: #fff; /* Fondo blanco para contraste */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Para centrar contenido interno verticalmente */
    width: 90%;
    max-width: 400px;
    text-align: center; /* Para centrar texto y elementos menores */
}

/* Centrar la imagen dentro del login */
.login-image img {
    max-width: 100%; /* La imagen ocupa todo el ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centrar horizontalmente */
    display: block; /* Asegura el centrado en combinación con margin */
    border-radius: 10px; /* Bordes redondeados */
}

.login-image img:hover {
    transform: scale(1.05); /* Efecto zoom al pasar el mouse */
}

/* Formulario */
.login-form {
    width: 100%;
}

h5.title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.field {
    margin-bottom: 20px;
}

.field label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.field .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.field .input:focus {
    border-color: #74ebd5; /* Color del borde al enfoque */
    outline: none;
    box-shadow: 0 0 5px rgba(116, 235, 213, 0.5);
}

/* Botón */
.button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: #2980b9; /* Cambio de color al hover */
}

/* Pie de página */
.footer-text {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
    color: #999;
}